$mainDark: #46494C
$mainLight: #C5C3C6
$highlight: #1985A1

body
  background: $mainDark
  color: $mainLight

h1
  text-align: center
  color: $highlight
  margin: 0
  @media screen and (max-width: 767px)
    text-align: right
.hidden
  display: none

.mainNav
  div
    text-align: center
  .navLink
    padding: 20px 0
    cursor: pointer
    font-size: 1.25em
    border: 1px solid black
    border-left: none
    transition: all .33s ease
    &:last-of-type
      border-right: none
    &:hover
      color: $highlight
      font-weight: bold
      background: $mainLight

.offCanvas
  display: none
  @media screen and (max-width: 767px)
    display: block
  position: absolute
  top: 0
  bottom: 0
  left: -101vw
  width: 100vw
  z-index: 100
  background: darken($mainDark, 5)
.burg
  z-index: 101

.output
  position: relative
  @media screen and (max-width: 767px)
    text-align: center
  .meta
    font-size: .75em
    text-align: left
    .genre, .rating
      display: inline-block
    .rating
      float: right

  #loading
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: rgba($mainDark, .95)
    z-index: 10
    display: flex
    align-items: center
    justify-content: center
    font-size: 3em
